@import 'fonts.scss';
@import 'variables.scss';
@import 'mixins.scss';

body {
    font-family: $font-stack;
    color: $colour-text1;
}

h1 {
    font-size: 4em;
    font-weight: 700;
    line-height: 2.5em;
    background: url(./logo.svg) no-repeat;
    background-size: 150px;
    width: 670px;
    height: 155px;
    padding: 0 0 0 200px;
    margin: auto;

    @media (max-width: $width-tablet) {
        font-size: 2.5em;
        text-align: center;
        background-position: 80px 0;
        width: 295px;
        height: 220px;
        padding: 150px 0 0;
    }
}

h2 {
    font-size: 3.5em;
    font-weight: 700;
    margin: 0 0 30px;

    @media (max-width: $width-tablet) {
        font-size: 2.8em;
    }
}

h3 {
    font-size: 3em;
    font-weight: 700;
    margin: 0 0 30px;

    @media (max-width: $width-tablet) {
        font-size: 2.8em;
    }
}

h4 {
    font-size: 1.5em;
    margin: 0;
}

p {
    font-size: 1.4em;
    margin-bottom: 30px;

    .small {
        font-size: 16px;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

a {
    color: $colour-link;
    transition: all, ease-in, 0.2s;
    cursor: pointer;
    
    .active,
    &:active,
    &:focus,
    &:hover {
        color: $colour-link-highlight;
        text-decoration: none;
        outline: 0;
    }
}

pre, code {
    font-family: 'Source Code Pro', monospace;
    border: none;
    background: transparent;
    padding: 0;
}

.navbar-custom {
    background: rgba(11, 63, 74, 0.9);
    font-size: 1.2em;
    font-weight: 400;
    border: none;
    outline: 0;
    padding: 10px 0;

    .navbar-brand {
        text-indent: -9999px;
        display: block;
        background-image: url(./icon.svg);
        background-size: 50px;
        width: 50px;
        height: 50px;
        padding: 0;
        margin: 0;

        @media (max-width: $width-tablet) {
            margin-left: 15px;
        }
    }

    .navbar-nav {
        letter-spacing: 1px;

        li {
            a {
                color: $colour-text1;
                
                &:hover,
                &:active {
                    color: $colour-link-highlight;
                    outline: 0;
                }

                &:focus {
                    @extend a;
                }
            }
        }

        & > .active {
            & > a {
                color: $colour-link-highlight;
                background: transparent;

                &:active,
                &:hover,
                &:focus {
                    @extend a;
                }
            }
        }
    }

    .navbar-toggle {
        height: 50px;
        padding: 30px 0 0;
        margin: 0 15px;
        border: 0;
        font-weight: 400;
        color: $colour-link-highlight;
        
        span {
            display: block;
            width: 36px;
            height: 4px;
            background-color: $colour-link-highlight;
            border-radius: 5px;
            position: absolute;
            top: 5px;
            right: 0;

            &:after, &:before
            {
                content: '';
                width: 100%;
                height: 4px;
                background-color: $colour-link-highlight;
                position: absolute;
                border-radius: 5px;
            }

            &:after
            {
                top: 10px;
                left: 0;
            }

            &:before
            {
                top: 20px;
                left: 0;
            }
        }

        &.collapsed {
            color: $colour-text1;
            background-color: transparent;

            &:focus, &:hover {
                background-color: transparent;
            }

            span {
                background-color: $colour-text1;

                &:after, &:before {
                    background-color: $colour-text1;
                }
            }
        }

        &:focus, &:hover {
            background-color: transparent;
        }
    }

    .navbar-collapse {
        border: 0;
        box-shadow: none;
    }
}

header {
    .container {
        padding-top: 120px;
        padding-bottom: 50px;
    }
}

.bg-main {
    width: 100%;
    height: 100%;
    @include background-gradient(20deg, $colour-bg1, 30%, $colour-bg2, 100%);
    left: 0;
    top: 0;
    position: fixed;
    z-index: -1;
}

section {
    padding: 75px 0;

    @media (max-width: $width-tablet) {
        padding: 50px 0;
    }

    &.dark {
        background-color: $colour-section1-bg;
        color: $colour-section1-text;

        .serviceinfo {
            margin-bottom: 30px;

            #currentstatus {
                &.success {
                    color: $colour-success;
                }
    
                &.warning {
                    color: $colour-warning;
                }
    
                &.danger {
                    color: $colour-danger;
                }
            }

            #version {
                color: $colour-info;
            }
        }
    }

    &#serviceinfo {
        padding-top: 0;
    }

    .panel {
        color: $colour-section2-text;
        background-color: $colour-section2-bg;
        border-radius: 30px;
        padding: 30px 35px;
        margin-bottom: 50px;

        p {
            font-size: 1em;
            margin-bottom: 10px;
        }

        pre {
            margin: 0 0 10px 20px;
            font-size: 0.9em;
            font-weight: 600;
            color: $colour-link-highlight;

            @media (min-width: $width-tablet) {
                font-size: 1.1em;
            }

            @media (max-width: $width-tablet) {
                @include pre-wrap;
                margin-left: 0;
            }
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0 0 10px 20px;

            @media (max-width: $width-tablet) {
                margin-left: 0;
            }
        }

        .description {
            font-size: 1.2em;
            margin-bottom: 20px;

            ul {
                margin-left: 0;
            }

            @media (max-width: $width-tablet) {
                font-size: 1em;
            }
        }

        .header {
            margin-bottom: 20px;

            .text-right {
                font-size: 1.2em;
                line-height: 1.35em;

                code {
                    font-weight: 600;
                    color: $colour-info;
                }

                .label {
                    padding: 3px 5px;
                    font-size: 70%;
                    vertical-align: middle;
                }

                @media (max-width: $width-tablet) {
                    text-align: left;
                }
            }
        }

        @media (max-width: $width-tablet) {
            margin: 0 25px 50px;
            padding: 20px 25px;
        }
    }
}

.label-success {
    background-color: $colour-success;
}

.label-info {
    background-color: $colour-info;
}

.label-warning {
    background-color: $colour-warning;
}

.label-danger {
    background-color: $colour-danger;
}