@import "mixins.scss";
@import "variables.scss";

@include keyframes(spin) {
  100% {
    @include rotate(360);
  }
}
@include keyframes(slidein) {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

body,
head,
html {
  height: 100%;
  width: 100%;
}

body {
  font-family: $font-stack-regular;
  overflow-x: hidden;
  color: $colour-text1;
  display: flex;
  flex-direction: column;

  &.noscroll {
    @media (max-width: $width-medium) {
      overflow: hidden;
    }
  }
}

h1 {
  @include hide-text;
  background: url("./images/logo.svg") no-repeat;
  width: 10rem;
  height: 13rem;
  margin: auto;
}

h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0;
}

h3 {
  font-size: 2rem;
  font-weight: 700;
  margin: 0 0 2rem;
  text-align: center;
}

h4 {
  font-size: 1.4rem;
  font-weight: 700;
  margin: 0;
}

p {
  margin: 0 0 1rem;

  &:last-child {
    margin-bottom: 0;
  }
}

a {
  color: $colour-text1;
  transition: color, ease-in, 0.2s;
  cursor: pointer;
  border-bottom: 1px dotted $colour-text1;

  &:active,
  &:focus,
  &:hover,
  .active {
    color: $colour-link-highlight;
    border-bottom-color: $colour-link-highlight;
    text-decoration: none;
    outline: 0;
  }
}

nav,
header,
section {
  z-index: 1;
}

nav {
  &.navbar-custom {
    background: rgba($colour-text2, 0.9);

    &.open {
      @media (max-width: $width-medium) {
        top: 0;
        left: 0;
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: 100;
        font-size: 1.5rem;
        padding: 8% 0 0 10%;
        @include animation(slidein 0.3s forwards);

        .nav,
        .navbar-collapse {
          display: block;

          &:before {
            display: table !important;
            content: " " !important;
          }
        }

        .navbar-nav > li > a {
          line-height: 2rem;
          display: inline-block;
        }
      }
    }

    #navbar {
      .navbar-nav {
        letter-spacing: 1px;

        li {
          a {
            color: $colour-text1;
            border-bottom: none !important;

            &:active,
            &:hover {
              color: $colour-link-highlight;
              outline: 0;
            }

            &:focus {
              @extend a;
            }

            &.active {
              color: $colour-link-highlight;
              background: transparent;

              &:active,
              &:focus,
              &:hover {
                @extend a;
              }
            }
          }
        }
      }

      @media (min-width: $width-medium) {
        justify-content: center;
      }
    }

    .navbar-collapse {
      border: 0;
      box-shadow: none;
    }

    @media (max-width: $width-medium) {
      min-height: auto;
      padding: 0;
      margin-bottom: 0;
    }
  }
}

pre {
  border: none;
  background: transparent;
  padding: 0;
}

code {
  font-family: $font-stack-code;
  color: $colour-link-highlight !important;
}

header {
  padding: 5rem 0;

  & > .container > .row {
    @media (min-width: $width-large) {
      display: flex;

      .col-lg-7 {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }

  h2 {
    @media (max-width: $width-large) {
      text-align: center;
    }
  }

  .title {
    margin-top: 2.5rem;

    @media (min-width: $width-medium) {
      margin-top: 0;
      align-items: center;
      display: flex;
    }
  }
}

section {
  padding: 5rem 0;

  & > .container > .panel {
    a {
      color: $colour-text2;
      border-bottom-color: $colour-text2;

      &:active,
      &:focus,
      &:hover,
      .active {
        color: $colour-link-highlight;
        border-bottom-color: $colour-link-highlight;
      }
    }
  }

  &.dark {
    background-color: $colour-section1-bg;
    color: $colour-section1-text;

    a {
      color: $colour-section1-text;
      border-bottom-color: $colour-section1-text;

      &:active,
      &:focus,
      &:hover,
      .active {
        color: $colour-link-highlight;
        border-bottom-color: $colour-link-highlight;
      }
    }
  }

  .example {
    font-size: 0.9rem;
    margin-bottom: 3rem;

    p {
      margin-bottom: 0.5rem;
      font-style: italic;
    }

    pre {
      @media (min-width: $width-medium) {
        margin-left: 2rem;
      }
    }

    ul {
      list-style: none;
      padding: 0;

      @media (min-width: $width-medium) {
        margin-left: 2rem;
      }
    }
  }

  .header {
    display: flex;
    justify-content: space-between;

    .label {
      color: $colour-text1;
      font-size: 0.75rem;
      font-weight: bold;
      border-radius: 0.4rem;
      padding: 0.1rem 0.3rem;
      vertical-align: middle;

      &.label-info {
        background-color: $colour-bg2;
      }

      &.label-success {
        background-color: $colour-success;
      }

      &.label-warning {
        background-color: $colour-warning;
      }
    }

    @media (max-width: $width-small) {
      flex-direction: column;
    }
  }

  .panel {
    color: $colour-section2-text;
    background-color: $colour-section2-bg;
    border-radius: 2rem;
    padding: 2rem;
    box-shadow: 0.6875rem 1.3125rem 4.125rem rgba(0, 0, 0, 0.25);

    a {
      color: $colour-section2-text;
      border-bottom-color: $colour-section2-text;

      &:active,
      &:focus,
      &:hover,
      .active {
        color: $colour-link-highlight;
        border-bottom-color: $colour-link-highlight;
      }
    }
  }

  &#serviceinfo {
    margin-top: -5rem;
    padding-bottom: 2.5rem;
  }

  &#status {
    .serviceinfo {
      font-size: 1.2rem;
      margin-bottom: 1.5rem;
      width: 100%;

      &.offline {
        #servermessage,
        .version {
          display: none;
        }
      }

      #servermessage {
        font-style: italic;
        text-align: center;
        quotes: "\201c""\201d";
        margin-top: 0.25rem;

        & > p {
          display: inline-block;
        }
      }

      .status {
        display: flex;
        justify-content: space-evenly;

        & > span {
          display: block;
          text-align: center;
          min-width: 8rem;
          line-height: 1.4rem;
        }

        #location {
          display: none;
        }

        @media (max-width: 768px) {
          display: block;
          margin-bottom: 1rem;
        }
      }
    }
  }

  @media (max-width: $width-medium) {
    padding: 5rem 0;
  }
}

span {
  &.text-danger {
    color: $colour-danger !important;
  }

  &.text-success {
    color: $colour-success !important;
  }

  &.text-warning {
    color: $colour-warning !important;
  }
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  @include background-gradient(20deg, $colour-bg1, 0, $colour-bg2, 100%);

  .background-img {
    display: block;
    position: absolute;
    z-index: 0;
    width: $bg-width * 10;
    height: $bg-height * 10;
    top: -$bg-height;
    background: url("./images/clouds.svg");
    background-size: $bg-width;
    background-repeat: repeat;
    opacity: 0.2;

    @media (max-width: $width-medium) {
      background-size: 40rem;
    }
  }
}

.container {
  @media (min-width: $width-xlarge) {
    max-width: 960px;
  }
}

.hamburger {
  display: inline-block;
  position: relative;
  top: -0.3rem;
  height: 1.34rem;
  width: 1.75rem;
  border-top: 0.27rem solid $colour-text1;
  border-bottom: 0.27rem solid $colour-text1;
  opacity: 0.9;

  &:before {
    content: "";
    position: absolute;
    top: 0.27rem;
    left: 0;
    width: 100%;
    border-top: 0.27rem solid $colour-text1;
  }
}

.nav-menu-button {
  display: none;
  position: fixed;
  z-index: 20;
  top: 4%;
  right: 6%;
  height: 3rem;
  width: 3rem;
  padding: 0;
  background: rgba($colour-text2, 0.9);
  color: $colour-text1;
  border: none;
  border-radius: 5rem;
  font-size: 1.75rem;
  line-height: 3.7rem;
  outline: none;

  @media (max-width: $width-medium) {
    display: block;
  }
}
