@import "mixins.scss";
@import "variables.scss";
@include keyframes(spin) {
  100% {
    @include rotate(360);
  }
}
@include keyframes(slidein) {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

body,
head,
html {
  height: 100%;
  width: 100%;
}

body {
  font-family: $font-stack-regular;
  overflow-x: hidden;
  color: $colour-text1;
  display: flex;
  flex-direction: column;

  &.noscroll {
    @media (max-width: $width-medium) {
      overflow: hidden;
    }
  }
}

h1 {
  @include hide-text;
  background: url("./images/logo.svg") no-repeat;
  width: 200px;
  height: 200px;
  margin: auto;
}

h2 {
  font-size: 2.2em;
  font-weight: 700;
  margin: 0;

  @media (max-width: $width-medium) {
    font-size: 2em;
  }
}

h3 {
  font-size: 2.4em;
  font-weight: 700;
  margin: 0 0 30px;
  text-align: center;

  @media (max-width: $width-medium) {
    font-size: 2em;
  }
}

h4 {
  font-size: 1.4em;
  font-weight: 700;
  margin: 0;
}

p {
  margin: 0 0 1.5rem;

  &:last-child {
    margin-bottom: 0;
  }

  &.larger {
    font-size: 1.2em;
  }
}

a {
  color: $colour-text1;
  transition: color, ease-in, 0.2s;
  cursor: pointer;
  border-bottom: 1px dotted $colour-text1;

  &:active,
  &:focus,
  &:hover,
  .active {
    color: $colour-link-highlight;
    border-bottom-color: $colour-link-highlight;
    text-decoration: none;
    outline: 0;
  }
}

nav {
  &.navbar-custom {
    background: rgba($colour-text2, 0.9);
    font-weight: 400;
    border: none;
    outline: 0;
    padding: 10px 0;
    z-index: 10;

    &.open {
      @media (max-width: $width-medium) {
        top: 0;
        left: 0;
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: 100;
        font-size: 1.4em;
        padding: 8% 0 0 10%;
        @include animation(slidein 0.3s forwards);

        .nav,
        .navbar-collapse {
          display: block;

          &:before {
            display: table !important;
            content: " " !important;
          }
        }

        .navbar-nav > li > a {
          line-height: 1.5em;
          display: inline-block;
        }
      }
    }

    #navbar {
      .navbar-nav {
        letter-spacing: 1px;

        li {
          a {
            color: $colour-text1;
            border-bottom: none !important;

            &:active,
            &:hover {
              color: $colour-link-highlight;
              outline: 0;
            }

            &:focus {
              @extend a;
            }

            &.active {
              color: $colour-link-highlight;
              background: transparent;

              &:active,
              &:focus,
              &:hover {
                @extend a;
              }
            }
          }
        }
      }

      @media (min-width: $width-medium) {
        justify-content: center;
      }
    }

    .navbar-toggle {
      height: 50px;
      padding: 30px 0 0;
      margin: 0 15px;
      border: 0;
      font-weight: 400;
      color: $colour-link-highlight;

      span {
        display: block;
        width: 36px;
        height: 4px;
        background-color: $colour-link-highlight;
        border-radius: 5px;
        position: absolute;
        top: 5px;
        right: 0;

        &:after,
        &:before {
          content: "";
          width: 100%;
          height: 4px;
          background-color: $colour-link-highlight;
          position: absolute;
          border-radius: 5px;
        }

        &:after {
          top: 10px;
          left: 0;
        }

        &:before {
          top: 20px;
          left: 0;
        }
      }

      &.collapsed {
        color: $colour-text1;
        background-color: transparent;

        &:focus,
        &:hover {
          background-color: transparent;
        }

        span {
          background-color: $colour-text1;

          &:after,
          &:before {
            background-color: $colour-text1;
          }
        }
      }

      &:focus,
      &:hover {
        background-color: transparent;
      }
    }

    .navbar-collapse {
      border: 0;
      box-shadow: none;
    }

    @media (max-width: $width-medium) {
      min-height: auto;
      padding: 0;
      margin-bottom: 0;
    }
  }
}

pre {
  border: none;
  background: transparent;
  padding: 0;
}

code {
  font-family: $font-stack-code;
  color: $colour-link-highlight !important;
}

header {
  padding: 5rem 0;

  & > .container > .row {
    @media (min-width: $width-large) {
      display: flex;

      .col-lg-7 {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }

  img {
    display: block;
    margin: 0 auto 50px;
  }

  h2,
  p {
    @media (max-width: $width-large) {
      text-align: center;
    }
  }

  p {
    font-weight: normal;
    font-size: 1.3em;
    line-height: 1.2em;
    margin-bottom: 10px;
    color: $colour-text2;
  }

  .title {
    margin-top: 2.5rem;

    @media (min-width: $width-medium) {
      margin-top: 0;
      align-items: center;
      display: flex;
    }
  }
}

section {
  padding: 5rem 0;

  & > .container > .panel {
    margin: 0 auto;

    a {
      color: $colour-text2;
      border-bottom-color: $colour-text2;

      &:active,
      &:focus,
      &:hover,
      .active {
        color: $colour-link-highlight;
        border-bottom-color: $colour-link-highlight;
      }
    }
  }

  &.dark {
    background-color: $colour-section1-bg;
    color: $colour-section1-text;

    a {
      color: $colour-section1-text;
      border-bottom-color: $colour-section1-text;

      &:active,
      &:focus,
      &:hover,
      .active {
        color: $colour-link-highlight;
        border-bottom-color: $colour-link-highlight;
      }
    }
  }

  .example {
    font-size: 0.9em;
    margin-bottom: 50px;

    p {
      margin-bottom: 10px;
      font-style: italic;
    }

    pre {
      @media (min-width: $width-medium) {
        margin-left: 25px;
      }
    }

    ul {
      list-style: none;
      padding: 0;

      @media (min-width: $width-medium) {
        margin-left: 25px;
      }
    }
  }

  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;

    .label {
      color: $colour-text1;
      font-size: 65%;
      font-weight: bold;
      border-radius: 4px;
      padding: 2px 5px;
      vertical-align: middle;

      &.label-info {
        background-color: $colour-bg2;
      }

      &.label-success {
        background-color: $colour-success;
      }

      &.label-warning {
        background-color: $colour-warning;
      }
    }

    @media (max-width: $width-small) {
      flex-direction: column;
    }
  }

  .panel {
    color: $colour-section2-text;
    background-color: $colour-section2-bg;
    border-radius: 30px;
    padding: 30px 35px;
    margin-bottom: 75px;
    box-shadow: 0.6875rem 1.3125rem 4.125rem rgba(0, 0, 0, 0.25);

    @media (max-width: $width-medium) {
      margin: 0 15px 50px;
    }

    a {
      color: $colour-section2-text;
      border-bottom-color: $colour-section2-text;

      &:active,
      &:focus,
      &:hover,
      .active {
        color: $colour-link-highlight;
        border-bottom-color: $colour-link-highlight;
      }
    }
  }

  &#serviceinfo {
    margin-top: -5rem;
    padding-bottom: 15px;
  }

  &#status {
    .serviceinfo {
      display: flex;
      justify-content: space-evenly;
      font-size: 1.2em;
      margin-bottom: 1.5rem;
    }

    #servermessage {
      font-style: italic;
      text-align: center;
      quotes: "\201c""\201d";
      display: none;
      margin-bottom: 2.5rem;
      margin-top: -1rem;

      &:before {
        content: open-quote;
      }

      &:after {
        content: close-quote;
      }
    }
  }

  @media (max-width: $width-medium) {
    padding: 5rem 0;
  }
}

footer {
  font-size: 0.7em;
  flex-grow: 1;
  background-color: $colour-section1-bg;
  color: $colour-section1-text;
  padding: 30px 0;
}

.bg-main {
  width: 100%;
  height: 100%;
  @include background-gradient(20deg, $colour-bg1, 0%, $colour-bg2, 100%);
  left: 0;
  top: 0;
  position: fixed;
  z-index: -1;

  .bg-main-img {
    display: block;
    width: 100%;
    height: 100%;
    background: url("./images/bg.svg");
    background-size: 1100px;
    opacity: 0.3;

    @media (max-width: $width-medium) {
      background-size: 650px;
    }
  }
}

.btn-outline {
  transition: background-color 0.2s, color 0.2s;
  transition-timing-function: ease-in;
  color: $colour-text1;
  font-weight: 700;
  border: 2px solid $colour-text1;
  background: 0 0;
  margin-top: 15px;
  border-radius: 25px;
  outline: 0;

  &.active,
  &:active,
  &:active:focus,
  &:focus {
    color: $colour-text1;
    border: 2px solid $colour-text1;
    outline: 0;
    box-shadow: none;
  }

  &:active:hover,
  &:focus:hover,
  &:hover {
    color: $colour-link-highlight;
    background: $colour-text1;
    border: 2px solid $colour-text1;
    outline: 0;
    box-shadow: none;
  }

  @media (max-width: $width-large) {
    font-size: 0.95em;
    padding: 8px 15px;
  }
}

.container {
  @media (min-width: $width-xlarge) {
    max-width: 960px;
  }
}

.form-control {
  color: $colour-text2;
  font-size: 1.2em;
  font-weight: 700;
  box-shadow: none !important;
  outline: none;
  resize: none;
  @include placeholder {
    color: rgba($colour-text2, 0.4) !important;
  }
}

.hamburger {
  display: inline-block;
  position: relative;
  top: -0.2em;
  height: 0.73em;
  width: 1em;
  border-top: 0.15em solid $colour-text1;
  border-bottom: 0.15em solid $colour-text1;
  opacity: 0.9;

  &:before {
    content: "";
    position: absolute;
    top: 0.15em;
    left: 0px;
    width: 100%;
    border-top: 0.15em solid $colour-text1;
  }
}

.icon {
  height: 150px;

  & > img {
    height: 100%;
  }

  @media (max-width: $width-medium) {
    height: 100px;
    margin-bottom: 0;
  }
}

.nav-menu-button {
  display: none;
  position: fixed;
  z-index: 20;
  top: 4%;
  right: 6%;
  height: 1.75em;
  width: 1.75em;
  padding: 0;
  background: rgba($colour-text2, 0.9);
  color: $colour-text1;
  border: none;
  border-radius: 5rem;
  font-size: 1.75em;
  line-height: 2.2em;
  outline: none;

  @media (max-width: $width-medium) {
    display: block;
  }
}
