$colour-bg1:				        #01AB8A;
$colour-bg2:				        #35C6E8;
$colour-text1:              #EDFEFF;
$colour-text2:              #083039;
$colour-link:			          #75959C;
$colour-link-highlight:	      $colour-bg2;
$colour-section1-bg:          $colour-text2;
$colour-section1-text:        $colour-text1;
$colour-section2-bg:          $colour-text1;
$colour-section2-text:        $colour-text2;
$colour-success:            #30D278;
$colour-warning:            #BDC71B;
$colour-danger:             #EA3869;

$font-size:                   17px;

$width-small:                 768px;
$width-medium:                992px;
$width-large:                 1200px;