@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/roboto/RobotoCondensed-Regular-webfont.eot');
    src: url('../fonts/roboto/RobotoCondensed-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/RobotoCondensed-Regular-webfont.woff') format('woff'),
         url('../fonts/roboto/RobotoCondensed-Regular-webfont.ttf') format('truetype'),
         url('../fonts/roboto/RobotoCondensed-Regular-webfont.svg#RobotoCondensed') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/roboto/RobotoCondensed-Bold-webfont.eot');
    src: url('../fonts/roboto/RobotoCondensed-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/RobotoCondensed-Bold-webfont.woff') format('woff'),
         url('../fonts/roboto/RobotoCondensed-Bold-webfont.ttf') format('truetype'),
         url('../fonts/roboto/RobotoCondensed-Bold-webfont.svg#RobotoCondensed') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family: 'Source Code Pro';
    src: url('../fonts/source-code-pro/SourceCodePro-Semibold.eot');
    src: url('../fonts/source-code-pro/SourceCodePro-Semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/source-code-pro/SourceCodePro-Semibold.woff') format('woff'),
         url('../fonts/source-code-pro/SourceCodePro-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}